@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    50 Beechwood Blvd<br />
    Plainfield,CT 06374<br />
    <br title="Phone">P: 860.564.5555</br>

</address>

