@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Reviewer for Florida</h1>

    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started on our Website</h2>

        <p >
            Our website displays restaurants and their reviews for cuisine in Florida. We provide all of the reviews and comments left by each reviewer along with the rating from 1 to 5.
            Each restaurant is displayed with their average rating to make it very simple to find the best restaurant in Florida!
        </p>
        <p><a class="btn btn-default" href="~/Restaurant/Index">View Restaurants Now &raquo;</a></p>
    </div>

</div>